.markdown-here-wrapper {
  overflow: auto;
  /*pre {
      padding: 0px 24px;
      max-width: 800px;
      white-space: pre-wrap;
  }
  code {
      font-family: Consolas, Monaco, Andale Mono, monospace;
      line-height: 1.5;
      font-size: 13px;
  }*/
  /** markdown preview plus 对于代码块的处理有些问题, 所以使用统一的颜色 */
  /*code .keyword {
    color: #8959a8;
  }

  code .number {
    color: #f5871f;
  }

  code .comment {
    color: #998
  }*/
  /* Code below this line is copyright Twitter Inc. */
  /* override default chrome & firefox settings */
  /* grey out placeholders */
  /* buttons */
  /*
    高亮部分：取自 highlight.js Monokai Sublime 风格
    Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/
  */
}
.markdown-here-wrapper h1,
.markdown-here-wrapper h2,
.markdown-here-wrapper h3,
.markdown-here-wrapper h4 {
  color: #111111;
  font-weight: 600;
  margin-top: 1em;
}
.markdown-here-wrapper h1,
.markdown-here-wrapper h2,
.markdown-here-wrapper h3,
.markdown-here-wrapper h4,
.markdown-here-wrapper h5,
.markdown-here-wrapper p,
.markdown-here-wrapper dl {
  margin-bottom: 16px;
  padding: 0;
}
.markdown-here-wrapper h1 {
  font-size: 24px;
  line-height: 30px;
}
.markdown-here-wrapper h2 {
  font-size: 21px;
  line-height: 26px;
}
.markdown-here-wrapper h1,
.markdown-here-wrapper h2 {
  border-bottom: 1px solid #EFEAEA;
  padding-bottom: 10px;
}
.markdown-here-wrapper h3 {
  font-size: 18px;
  list-style: 23px;
}
.markdown-here-wrapper h4 {
  font-size: 15px;
  list-style: 20px;
}
.markdown-here-wrapper h5 {
  font-size: 12px;
  list-style: 17px;
}
.markdown-here-wrapper a {
  color: #0099ff;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.markdown-here-wrapper a:hover {
  text-decoration: none;
  color: #ff6600;
}
.markdown-here-wrapper img {
  width: 100%;
}
.markdown-here-wrapper ul,
.markdown-here-wrapper ol {
  padding: 0;
  padding-left: 24px;
  margin: 0;
}
.markdown-here-wrapper li {
  line-height: 24px;
}
.markdown-here-wrapper p,
.markdown-here-wrapper ul,
.markdown-here-wrapper ol {
  font-size: 16px;
  line-height: 24px;
}
.markdown-here-wrapper ol ol,
.markdown-here-wrapper ul ol {
  list-style-type: lower-roman;
}
.markdown-here-wrapper code,
.markdown-here-wrapper pre {
  border-radius: 3px;
  background-color: #282c34;
  color: inherit;
}
.markdown-here-wrapper code {
  font-family: Consolas, Monaco, Andale Mono, monospace;
  margin: 0 2px;
}
.markdown-here-wrapper pre {
  line-height: 1.7em;
  overflow: auto;
  padding: 6px 10px;
}
.markdown-here-wrapper pre > code {
  border: 0;
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  font-size: 0.85em;
  white-space: pre;
  background: 0 0;
}
.markdown-here-wrapper code {
  color: #abb2bf;
}
.markdown-here-wrapper aside {
  display: block;
  float: right;
  width: 390px;
}
.markdown-here-wrapper blockquote {
  border-left: 0.5em solid #eee;
  padding: 0 0 0 2em;
  margin-left: 0;
}
.markdown-here-wrapper blockquote cite {
  font-size: 14px;
  line-height: 20px;
  color: #bfbfbf;
}
.markdown-here-wrapper blockquote cite:before {
  content: '\2014 \00A0';
}
.markdown-here-wrapper blockquote p {
  color: #666;
}
.markdown-here-wrapper hr {
  text-align: left;
  color: #999;
  height: 2px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}
.markdown-here-wrapper dl {
  padding: 0;
}
.markdown-here-wrapper dl dt {
  padding: 10px 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
.markdown-here-wrapper dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.markdown-here-wrapper dd {
  margin-left: 0;
}
.markdown-here-wrapper button,
.markdown-here-wrapper input,
.markdown-here-wrapper select,
.markdown-here-wrapper textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
.markdown-here-wrapper button,
.markdown-here-wrapper input {
  line-height: normal;
  *overflow: visible;
}
.markdown-here-wrapper button::-moz-focus-inner,
.markdown-here-wrapper input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.markdown-here-wrapper button,
.markdown-here-wrapper input[type="button"],
.markdown-here-wrapper input[type="reset"],
.markdown-here-wrapper input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
.markdown-here-wrapper input[type=checkbox],
.markdown-here-wrapper input[type=radio] {
  cursor: pointer;
}
.markdown-here-wrapper input:not([type="image"]),
.markdown-here-wrapper textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.markdown-here-wrapper input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.markdown-here-wrapper input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.markdown-here-wrapper label,
.markdown-here-wrapper input,
.markdown-here-wrapper select,
.markdown-here-wrapper textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 18px;
}
.markdown-here-wrapper input[type=checkbox],
.markdown-here-wrapper input[type=radio] {
  cursor: pointer;
  margin-bottom: 0;
}
.markdown-here-wrapper input[type=text],
.markdown-here-wrapper input[type=password],
.markdown-here-wrapper textarea,
.markdown-here-wrapper select {
  display: inline-block;
  width: 210px;
  padding: 4px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.markdown-here-wrapper select,
.markdown-here-wrapper input[type=file] {
  height: 27px;
  line-height: 27px;
}
.markdown-here-wrapper textarea {
  height: auto;
}
.markdown-here-wrapper :-moz-placeholder {
  color: #bfbfbf;
}
.markdown-here-wrapper ::-webkit-input-placeholder {
  color: #bfbfbf;
}
.markdown-here-wrapper input[type=text],
.markdown-here-wrapper input[type=password],
.markdown-here-wrapper select,
.markdown-here-wrapper textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.markdown-here-wrapper input[type=text]:focus,
.markdown-here-wrapper input[type=password]:focus,
.markdown-here-wrapper textarea:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
.markdown-here-wrapper button {
  display: inline-block;
  padding: 4px 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #004b9a;
  border-bottom-color: #003f81;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.markdown-here-wrapper button:hover {
  color: #fff;
  background-position: 0 -15px;
  text-decoration: none;
}
.markdown-here-wrapper button:active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.markdown-here-wrapper button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.markdown-here-wrapper table {
  *border-collapse: collapse;
  /* IE7 and lower */
  border-spacing: 0;
  width: 100%;
}
.markdown-here-wrapper table {
  border: solid #ccc 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  /*-webkit-box-shadow: 0 1px 1px #ccc;
      -moz-box-shadow: 0 1px 1px #ccc;
      box-shadow: 0 1px 1px #ccc;   */
}
.markdown-here-wrapper table tr:hover {
  background: #fbf8e9;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.markdown-here-wrapper table td,
.markdown-here-wrapper .table th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
.markdown-here-wrapper table th {
  background-color: #dce9f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
  background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: linear-gradient(top, #ebf3fc, #dce9f9);
  /*-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
      -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
      box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;*/
  border-top: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 5px;
}
.markdown-here-wrapper table td:first-child,
.markdown-here-wrapper table th:first-child {
  border-left: none;
}
.markdown-here-wrapper table th:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}
.markdown-here-wrapper table th:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}
.markdown-here-wrapper table th:only-child {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.markdown-here-wrapper table tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}
.markdown-here-wrapper table tr:last-child td:last-child {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}
.markdown-here-wrapper .hljs {
  background: #23241f;
  color: #f8f8f2;
}
.markdown-here-wrapper .hljs-tag,
.markdown-here-wrapper .hljs-subst {
  color: #f8f8f2;
}
.markdown-here-wrapper .hljs-strong,
.markdown-here-wrapper .hljs-emphasis {
  color: #a8a8a2;
}
.markdown-here-wrapper .hljs-bullet,
.markdown-here-wrapper .hljs-quote,
.markdown-here-wrapper .hljs-number,
.markdown-here-wrapper .hljs-regexp,
.markdown-here-wrapper .hljs-literal,
.markdown-here-wrapper .hljs-link {
  color: #ae81ff;
}
.markdown-here-wrapper .hljs-code,
.markdown-here-wrapper .hljs-title,
.markdown-here-wrapper .hljs-section,
.markdown-here-wrapper .hljs-selector-class {
  color: #a6e22e;
}
.markdown-here-wrapper .hljs-strong {
  font-weight: bold;
}
.markdown-here-wrapper .hljs-emphasis {
  font-style: italic;
}
.markdown-here-wrapper .hljs-keyword,
.markdown-here-wrapper .hljs-selector-tag,
.markdown-here-wrapper .hljs-name,
.markdown-here-wrapper .hljs-attr {
  color: #f92672;
}
.markdown-here-wrapper .hljs-symbol,
.markdown-here-wrapper .hljs-attribute {
  color: #66d9ef;
}
.markdown-here-wrapper .hljs-params,
.markdown-here-wrapper .hljs-title.class_,
.markdown-here-wrapper .hljs-class .hljs-title {
  color: #f8f8f2;
}
.markdown-here-wrapper .hljs-string,
.markdown-here-wrapper .hljs-type,
.markdown-here-wrapper .hljs-built_in,
.markdown-here-wrapper .hljs-selector-id,
.markdown-here-wrapper .hljs-selector-attr,
.markdown-here-wrapper .hljs-selector-pseudo,
.markdown-here-wrapper .hljs-addition,
.markdown-here-wrapper .hljs-variable,
.markdown-here-wrapper .hljs-template-variable {
  color: #e6db74;
}
.markdown-here-wrapper .hljs-comment,
.markdown-here-wrapper .hljs-deletion,
.markdown-here-wrapper .hljs-meta {
  color: #75715e;
}
